.link {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  outline: 3px solid transparent;
  outline-offset: 0;
  color: var(--col-interactive-01);
  padding: var(--spacing-2xs);
  transition: 0.25s ease-in-out color,
              0.25s ease-in-out outline-offset,
              0.25s ease-in-out outline;
}

.link:hover,
.link:focus {
  color: var(--col-interactive-01-hover);
  outline: 3px solid var(--col-interactive-02);
  outline-offset:  var(--spacing-2xs);
  transition: 0.125s ease-in-out color,
              0.125s ease-in-out outline-offset,
              0.125s ease-in-out outline;
}

.link.Inline {
  padding: 0;
  text-decoration: underline;
}
.link.Inline:focus,
.link.Inline:hover {
  outline-offset: 0;
}
.link.Disabled {
  pointer-events: none;
  color:  var(--col-disabled);
}