.horizontal-nav {
  width: 100%;
  padding:  var(--spacing-md);
  background-image: linear-gradient(to top, var(--col-background), transparent),
     url('/img/brand/tiling_hands.jpg');
}

.horizontal-nav_inner, .footer {
  width: var(--grid-maxwidth);
  display: flex;
  margin: auto;
  align-items: center;
}
.horizontal-nav_inner {
  justify-content: space-between;
}
.footer {
  flex-direction: column;
  justify-content: center;
  font-size: var(--size-font-sm);
}
.footer-nav a {
  margin: var(--spacing-md);
}

.horizontal-nav_authentication {
  width: 300px;
}

.horizontal-nav_brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.horizontal-nav_tagline {
  font-family: var(--font-stack-display);
}
