.comic-profile {
  padding: var(--spacing-md);
  box-sizing: border-box;
  margin-block-end: var(--spacing-lg);
}

.comic-profile_header {
  width:  100%;
  margin-bottom: var(--spacing-md);
  margin-block-end:  var(--spacing-md);
}

.comic-profile_title {
  margin-block-start: 0;
}
.comic-profile_cover {
  margin-inline-end: var(--spacing-md);
}
.comic-profile_body {
  display: flex;
  flex-direction: row;   
}
.comic-profile_description {
  flex-grow: 1;
  padding-bottom: var(--spacing-md);
}

.comic-profile_settings {
  display: flex;
  justify-content: space-between;
}