.comic-profile {
  padding: var(--spacing-md);
  box-sizing: border-box;
  margin-block-end: var(--spacing-lg);
  display: inline-block;
  height: auto;
  vertical-align: top;
}

.comic-profile_header {
  width:  100%;
  margin-bottom: var(--spacing-md);
  margin-block-end:  var(--spacing-md);
}

.comic-profile_title {
  margin: var(--spacing-xs) auto;
  font-size: var(--size-font-xl);
}

.comic-profile_body {
  display: flex;
  flex-direction: column;
  align-items: center;   
}
.comic-profile_description {
  flex-grow: 1;
  padding-bottom: var(--spacing-md);
}

.comic-profile_settings {
  display: flex;
  justify-content: space-between;
}