.comic-profile {
  background-color: var(--theme-interface-10);
  border: 1px solid var(--theme-interface-20);
  padding: var(--spacing-md);
  box-sizing: border-box;
  margin-block-end: var(--spacing-lg);
  border-radius: var(--border-radius);
}

.comic-profile_header {
  display: flex;
  align-items: center;
  width:  100%;
  margin-bottom: var(--spacing-md);
}

.comic-profile_title {
  margin-block-start: 0;
}
.comic-profile_cover {
  margin-inline-end: var(--spacing-md);
}
.comic-profile_body {
  display: flex;
  flex-direction: row;   
}
.comic-profile_description {
  flex-grow: 1;
  padding-bottom: var(--spacing-md);
}